/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #d2d2d2;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #522b2b;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

header p {
    font-style: italic;
}

main {
    padding: 20px 0;
}

section {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px #522b2b;
}

section h2 {
    color: #522b2b;
}

ul {
    list-style-type: none;
    padding: 0;
}

footer {
    background-color: #522b2b;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Media Queries para responsividade */

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    header h1 {
        font-size: 28px;
    }

    section {
        padding: 15px;
    }
}
